<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All lift totals
    </h1>

    <a href="/lift_totals/new" class="btn btn-block btn-outline-secondary">
      Add a new lift total
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "lift_total_templates/lift_totals_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Profile
        </th>

        <th>
          Weight
        </th>

        <th>
          Date
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @lift_totals.each do |lift_total| %>
      <tr>
        <td>
          <%= lift_total.id %>
        </td>

        <td>
          <% if lift_total.profile.present? %>
            <a href="/profiles/<%= lift_total.profile.id %>">
              <%= lift_total.profile.user_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= lift_total.weight %>
        </td>

        <td>
          <%= lift_total.date %>
        </td>

        <td>
          <%= time_ago_in_words(lift_total.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(lift_total.updated_at) %> ago
        </td>

        <td>
          <a href="/lift_totals/<%= lift_total.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @lift_totals, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
