<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Lift total #<%= @lift_total.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/lift_totals" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/lift_totals/<%= @lift_total.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit lift total
        </a>
      </div>

      <div class="col">
        <a href="/delete_lift_total/<%= @lift_total.id %>" class="btn btn-block btn-outline-secondary">
          Delete lift total
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Profile
      </dt>
      <dd>
        <% if @lift_total.profile.present? %>
          <a href="/profiles/<%= @lift_total.profile_id %>">
            <%= @lift_total.profile.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Weight
      </dt>
      <dd>
        <%= @lift_total.weight %>
      </dd>

      <dt>
        Date
      </dt>
      <dd>
        <%= @lift_total.date %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@lift_total.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@lift_total.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

