<!-- Validation failure messages -->
<% if @subscription.errors.any? %>
  <% @subscription.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit subscription #<%= @subscription.id %>
</h1>

<hr>

<!-- Form subscription start -->
<form action="/update_subscription/<%= @subscription.id %>" method="post">
<!-- Form subscription end -->

  <!-- Label and input for feed_id start -->
  <div class="form-group">
    <label for="feed_id">
      Feed
    </label>

    <!-- Input for feed_id start -->
    <%= select_tag(:feed_id, options_from_collection_for_select(Feed.all, :id, :user_id, @subscription.feed_id), :class => "form-control") %>
    <!-- Input for feed_id end -->
  </div>
  <!-- Label and input for feed_id end -->

  <!-- Label and input for profile_id start -->
  <div class="form-group">
    <label for="profile_id">
      Profile
    </label>

    <!-- Input for profile_id start -->
    <input type="text" id="profile_id" name="profile_id" class="form-control" value="<%= @subscription.profile_id %>">
    <!-- Input for profile_id end -->
  </div>
  <!-- Label and input for profile_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update subscription
  </button>
</form>

<hr>

<a href="/subscriptions">
  Go back
</a>
