<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Feed #<%= @feed.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/feeds" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/feeds/<%= @feed.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit feed
        </a>
      </div>

      <div class="col">
        <a href="/delete_feed/<%= @feed.id %>" class="btn btn-block btn-outline-secondary">
          Delete feed
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @feed.user.present? %>
          <a href="/users/<%= @feed.user_id %>">
            <%= @feed.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@feed.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@feed.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "feed_templates/feed_subscriptions" %>
  </div>
</div>
