<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Feed #<%= @feed.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/feeds" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link feed start -->
      <div class="col">
        <a href="/feeds/<%= @feed.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit feed
        </a>
      </div>
      <!-- Edit link feed end -->

      <!-- Delete link feed start -->
      <div class="col">
        <a href="/delete_feed/<%= @feed.id %>" class="btn btn-block btn-outline-secondary">
          Delete feed
        </a>
      </div>
      <!-- Delete link feed end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @feed.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@feed.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@feed.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "feed_templates/feed_subscriptions" %>
  </div>
</div>
<!-- Show Page Customization end -->
