<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Profile #<%= @profile.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/profiles" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link profile start -->
      <div class="col">
        <a href="/profiles/<%= @profile.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit profile
        </a>
      </div>
      <!-- Edit link profile end -->

      <!-- Delete link profile start -->
      <div class="col">
        <a href="/delete_profile/<%= @profile.id %>" class="btn btn-block btn-outline-secondary">
          Delete profile
        </a>
      </div>
      <!-- Delete link profile end -->
    </div>

    <dl>
      <dt>
        User
      </dt>
      <!-- Display user_id start -->
      <dd>
        <%= @profile.user_id %>
      </dd>
      <!-- Display user_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@profile.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@profile.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
