<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Profile #<%= @profile.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/profiles" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @profile.user %>
          <a href="/profiles/<%= @profile.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit profile
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @profile.user %>
          <a href="/delete_profile/<%= @profile.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete profile
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @profile.user.present? %>
          <a href="/users/<%= @profile.user_id %>">
            <%= @profile.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@profile.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@profile.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "profile_templates/profile_lift_totals" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "profile_templates/profile_subscriptions" %>
  </div>
</div>
